:root{
    --font-family: inter;


    --primary-color: #013662;
    --white-color: #FFFFFF;
    --bg-color: #D9D9D9;


    --grid-display: grid;
    --flex-display: flex;
    --no-display: none;

    --background-size: cover;
    --background-repeat: no-repeat;
    --over-flow: hidden;
    --center-item: center;
    --transparent: transparent;
    --clip-text: text;

    --no-border: var(--no-display);

    --relative-position: relative;
}
body{
    font-family: var(--font-family);
    overflow-x: var(--over-flow);
}
.navbar-white{
    background-color: var(--white-color);
}
.logo{
    width:40px;
    height:39px;
}
.space{
    gap:5em;
}
.hero{
    background: linear-gradient(to right, rgba(10, 9, 9, 0.8), rgba(36, 33, 33, 0.46)), url('../assets/hero.jpg');
    background-size: var(--background-size);
    background-repeat: var(--background-repeat);
    margin-top: 5em;
    padding:3em;
}
.hero .text{
    margin-top:7em;
    display: var(--grid-display);
    place-content: var(--center-item);
}
.hero .text h1{
    max-width: 600px;
    background: linear-gradient(to right, rgba(255, 242, 3,1), rgba(218, 207, 6));
    background-clip: var(--clip-text);
    -webkit-background-clip: var(--clip-text); /* For older WebKit browsers */
    color: var(--transparent);
    -webkit-text-fill-color: var(--transparent); /* For older WebKit browsers */
}

.hero .text p{
    color: var(--white-color);
    max-width: 600px;
    margin-top: 55px;
}
.pry-cta{
    margin-top: 55px;
    margin-bottom: 2em;
}

.pry-cta button{
    border: none;
    width:120px;
    border-radius: 40px;
    padding:.5em;
    transition:3000ms ease-in-out;
}

.pry-cta button:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.line{
    max-width: 83px;
    height: 1px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.grid{
    display: var(--grid-display);
    grid-template-columns: 1fr 1fr;
    padding: 0 25%;
}


.content-size{
    max-width: 460px;
    gap:20px;
}


.service .fa-solid{
    background-color: #FFFFFF;
    border-radius: 50%;
    color: var(--primary-color);
}


.circle-group{
    display: var(--grid-display);
    position: var(--relative-position);
    left: 85%;
    bottom:15em;
}

.circle-group .circle{
    border-style: var(--no-border);
    border-color: var(--bg-color);
    border-top-style: dotted;
    border-width:10px;
    width: 5%;
    margin-top: 1em;
}

.about{
    margin-top: 5em;
    gap: 3em;
    flex-wrap: wrap;
}
.about-img{
    max-width: 448px;
    height: auto;
}
img{
    width: 100%;
    height: 100%;
    border: 1px solid #013662;
    border-radius: 30px;
}

.about-container{
    color: var(--white-color);
    background-color: #302E2E;
    border-radius: 20px 30px 20px 30px;
    max-width: 518px;
    height: auto;
    padding: 56px 20px;
    position: relative;
    top: 2em;
}

.text-input{
    width: 350px;
    height: 50px;
    padding: 10px;
}

.form-space{
    gap:2em;
}

.center-form{
    margin: 0 auto;
    padding: 25%;
    display: var(--grid-display);
    place-content: var(--center-item);
}

.send-btn{
    padding: 10px 70px;
    display: var(--grid-display);
    place-content: var(--center-item);
    color: var(--white-color);
    background-color: var(--primary-color);
    border: var(--no-border);
    border-radius: 6px;
}

footer{
    background-color: #013662;
    width:100%;
    height: auto;
    color: #FFFFFF;
    padding: 30px;
}
footer .location{
    gap: 20px;
}

@media screen and (max-width: 1000px){
    .grid{
        display: var(--grid-display);
        grid-template-columns: 1fr;
       margin: 0 auto;
    }

    .circle-group, 
    .circle-group-4, 
    .circle-group-5, 
    .circle-group-3,
    .circle-group-2
    {
        display: var(--no-display);
    }
}


/** Animation ***/
.content-1, .content-2, 
.content-3, .content-4,
.content-5, .content-6{
    opacity: 0;
}

.content-1.animate__animated, .content-2.animate__animated
,.content-3.animate__animated,.content-4.animate__animated,
.content5.animate__animated, .content6.animate__animated{
    opacity: 1;
}