body{
    font-family: inter;
    overflow-x: hidden;
}
.navbar-white{
    background-color: #FFFFFF;
}
.logo{
    width:40px;
    height:39px;
}
.space{
    gap:5em;
}
.hero{
    background: linear-gradient(to right, rgba(10, 9, 9, 0.8), rgba(36, 33, 33, 0.46)), url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5em;
    padding:3em;
}
.hero .text{
    margin-top:7em;
    display: grid;
    place-content: center;
}
.hero .text h1{
    max-width: 600px;
    background: linear-gradient(to right, rgba(255, 242, 3,1), rgba(218, 207, 6));
    background-clip: text;
    -webkit-background-clip: text; /* For older WebKit browsers */
    color: transparent;
    -webkit-text-fill-color: transparent; /* For older WebKit browsers */
}

.hero .text p{
    color: #FFFFFF;
    max-width: 600px;
    margin-top: 55px;
}
.pry-cta{
    margin-top: 55px;
    margin-bottom: 2em;
}

.pry-cta button{
    border: none;
    width:120px;
    border-radius: 40px;
    padding:.5em;
}

.pry-cta button:hover{
    background-color: #013662;
    color: #FFFFFF;
    transition:3000ms ease-in-out;
}
.line{
    max-width: 83px;
    height: 1px;
    background-color: #013662;
    border: 1px solid #013662;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 25%;
}


.content-size{
    max-width: 460px;
    gap:20px;
}


.service .fa-solid{
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #013662;
}

.circle-group, .circle-group-2
, .circle-group-3, .circle-group-4
.circle-group-5 {
    position: relative;
    left: 85%;
    bottom: 15em
}

.circle-group-2{
    bottom: 14em;
}

.circle-group-3{
    bottom: 12em;
}

.circle-group-4{
    bottom: 10em;
}

.circle-group-5{
    bottom: 8em;
}

.c-1 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #D9D9D9;
    border: none;
    position: absolute;
}

.one {
    left: 0;
}

.two {
    left: 20px;
}

.three {
    left: 40px;
}

.four {
    left: 60px;
}

.about{
    margin-top: 5em;
    gap: 3em;
    flex-wrap: wrap;
}
.about-img{
    max-width: 448px;
    height: auto;
}
img{
    width: 100%;
    height: 100%;
    border: 1px solid #013662;
    border-radius: 30px;
}

.about-container{
    color: #FFFFFF;
    background-color: #302E2E;
    border-radius: 20px 30px 20px 30px;
    max-width: 518px;
    height: auto;
    padding: 56px 20px;
    position: relative;
    top: 2em;
}

.text-input{
    width: 350px;
    height: 50px;
    padding: 10px;
}

.form-space{
    gap:2em;
}

.center-form{
    margin: 0 auto;
    padding: 25%;
    display: grid;
    place-content: center;
}

.send-btn{
    padding: 10px 70px;
    display: grid;
    place-content: center;
    color: #FFFFFF;
    background-color: #013662;
    border: none;
    border-radius: 6px;
}

footer{
    background-color: #013662;
    width:100%;
    height: auto;
    color: #FFFFFF;
    padding: 30px;
}
footer .location{
    gap: 20px;
}

@media screen and (max-width: 1000px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
       margin: 0 auto;
    }

    .circle-group{
        display: none;
    }
}


/** Animation ***/
.content-1, .content-2, 
.content-3, .content-4,
.content-5, .content-6{
    opacity: 0;
}

.content-1.animate__animated, .content-2.animate__animated
,.content-3.animate__animated,.content-4.animate__animated,
.content5.animate__animated, .content6.animate__animated{
    opacity: 1;
}